/** @format */

.setting {
  position: absolute;
  width: 40%;
  /* height: 100%; */
  background-color: white;
  transform: translate(-50%) translateY(-50%);
  box-shadow: 0 0 4px 4px rgba(116, 115, 115, 0.137);
  border-radius: 6px;
  /* display: none; */
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
  top: 50%;
  left: 50%;
  padding: 20px 0;
}
.setting .itm {
  padding: 15px 22px;
  text-align: center;
  font-family: poplite;
  border-top: 2px solid rgba(58, 58, 58, 0.096);
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.itm:nth-child(1) {
  border: none;
}
.itm:hover {
  background-color: var(--gray3);
  color: var(--blue);
}
.bcover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.ccover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}
@media (max-width: 700px) {
  .setting {
    width: 70%;
  }
}

.kesimpulan {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.385);
  position: absolute;
  display: grid;
  display: none;
  place-items: center;
}

.ncover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 49, 49, 0.308);
  z-index: 2;
}

.qcard {
  height: 90%;
  aspect-ratio: 8/6;
  background-color: white;
  display: grid;
  /* border-radius: 8px; */
  padding: 12px;
  overflow-y: scroll;
  font-family: poplite;
  letter-spacing: 1px;
  font-size: 80%;
  z-index: 2;
  transition: ease-in 0.5s;
}

.two-sided {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: rgb(0, 225, 255); */
  grid-template-rows: 1fr auto;
}
.wrapper-conclude {
  width: 80%;
  aspect-ratio: 1;
  background: rgba(118, 163, 235, 0.572);
  position: relative;
  grid-column: 1;
}
.wrapper-conclude .orang {
  position: absolute;
  height: 100%;
  left: 0;
  bottom: 0;
}
.wrapper-conclude .kite {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  transform: translate(60%) translateY(-30%) rotate(-15deg);
}
.tri-gl {
  width: 80%;
  height: 80%;
  background-color: rgb(171, 11, 11);
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  right: 15px;
  bottom: 25px;
  opacity: 0;
  animation: opp 4.4s linear infinite;
}

@keyframes opp {
  50% {
    opacity: 0.85;
  }
}

.button-dock {
  width: 100%;
  /* background-color: blueviolet; */
  /* aspect-ratio: 2; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 5px;
  box-sizing: border-box;
  grid-column: 2;
  grid-row: 1/2;
  align-self: center;
  height: 100%;
}
.text-quest {
  grid-column: 1;
  text-align: left;
}
.button-dock button {
  cursor: pointer;
  border: none;
  /* background-color: rgb(54, 147, 209); */
  background-color: white;
  border: 1.2px solid rgb(14, 98, 150);
  border-radius: 7px;
  font-weight: bold;
  color: rgba(17, 36, 106, 0.781);
  /* box-shadow: 3px 3px rgba(4, 16, 93, 0.76); */
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}
.button-dock button:nth-last-child(1) {
  background-color: rgb(31, 8, 78);
  color: rgb(211, 212, 211);
  grid-column: span 2;
}
.button-dock button:hover {
  background-color: rgb(99, 196, 237);
  box-shadow: 0px 0px rgba(4, 16, 93, 0.76);
  color: rgba(17, 36, 106, 0.781);
}
.button-dock button.active {
  background-color: rgb(22, 215, 144);
  transform: translateY(4px);
  color: azure;
}

.wrapper-answer {
  position: absolute;
  background-color: rgba(21, 21, 21, 0.543);
  width: 100%;
  height: 100%;
  z-index: 4;
  display: grid;
  display: none;
  place-items: center;
  backdrop-filter: blur(2px);
  transition: cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.5s;
  font-family: poplite;
  /* opacity: 0; */
}

.answer {
  width: 90%;
  background-color: white;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.364);
  padding: 12px;
  max-width: 450px;
  transition: ease-in-out 0.5s;
}

.answer img {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.8;
}

.answer h1,
h2 {
  text-align: center;
  opacity: 0.58;
}

.answer p {
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: poplite;
}

.answer h1 {
  /* transform: scale(500%); */
  color: orangered;
  opacity: 0.7;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.33);
  font-size: 12em;
  padding: 0;
  margin: 0;
}

.answer button {
  width: fit-content;
  height: fit-content;
  position: absolute;
  border: 1.2px solid red;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 7px;
  font-size: 120%;
  font-weight: bold;
  cursor: pointer;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  background-color: rgba(255, 0, 51, 0.833);
  color: white;
}

.answer button:hover {
  background-color: white;
  color: rgb(255, 0, 51);
}

.closeBtn {
  position: absolute;
  top: 50%;
  right: 0;
}

h4 button {
  padding: 7px 15px;
  border: none;
  color: rgb(238, 34, 71);
  border: 1.2px solid rgb(238, 34, 71);
  margin: 3px;
  background-color: white;
  cursor: pointer;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 140%;
  border-radius: 7px;
}
h4 button:hover {
  background-color: rgb(238, 34, 71);
  color: white;
}

@media (max-width: 780px) {
  .qcard {
    aspect-ratio: 3/3.5;
  }
  /* .button-dock {
    background-color: red;
  } */
  .button-dock button {
    padding: 10px 0px;
  }
}

@media (max-width: 550px) {
  .qcard {
    width: 90%;
    height: 90%;
  }
  .answer {
    height: 60%;
  }
  .two-sided {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }
  .wrapper-conclude {
    grid-column: 1;
  }
  .text-quest {
    grid-row: 2;
  }
  .button-dock {
    grid-column: 1;
    grid-row: 3;
    align-self: self-start;
  }
  .button-dock button {
    padding: 20px 0px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .qcard {
    height: 95%;
    width: 70%;
  }
  .answer {
    height: 85%;
  }
  .answer img {
    width: 30%;
  }
}
