/** @format */
body {
  user-select: none;
  background-color: rgba(123, 138, 133, 0.678);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100vh;
}
:root {
  --control: rgba(19, 18, 27, 0.811);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(236px, 1fr) 3fr;
}

.control {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr auto;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.banner {
  border: 1px solid rgba(0, 0, 0, 0.633);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #fefefe;
  grid-column: span 2;
}
.banner img {
  width: 35%;
}
.quit {
  grid-row: 6;
  /* border: 1px solid black; */
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  grid-column: span 2;
}
.quit button {
  width: 100%;
  padding: 14px;
  border: none;
  background-color: rgb(200, 52, 52);
  color: rgb(87, 14, 14);
  font-weight: bold;
  font-size: 95%;
  border-radius: 5px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.633);
}
.quit button:hover {
  background-color: rgb(218, 122, 19);
}
.peluang {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 0px 20px;
  /* margin-left: 20px; */
  padding: 5px 20px;
  color: var(--control);
  border-radius: 5px;
  background-color: #fefefe;
  grid-column: span 2;
  border: 1px solid rgba(0, 0, 0, 0.633);
}
/* .peluang:nth-child(3) {
  margin-right: 20px;
  margin-left: 0px;
  } */
.peluang b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.peluang b span:nth-child(2) {
  border-top: 1px solid black;
}

.status {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  width: 100%;
  column-gap: 10%;
  row-gap: 10px;
  align-items: center;
  padding: 10px;
  color: var(--control);
  text-align: center;
  /* background-color: aqua; */
}

.color {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 0, 0, 0.632);
}
.sts {
  /* background-color: blue; */
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fefefe;
  grid-column: span 2;
  border: 1px solid rgba(0, 0, 0, 0.633);
}

.skor {
  border: 1px solid black;
  margin: 0px 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-template-rows: repeat(4, 1px); */
  padding: 10px;
  color: var(--control);
  background-color: #fefefe;
  grid-column: span 2;
  border: 1px solid rgba(0, 0, 0, 0.633);
}
.skor h3 {
  grid-column: span 2;
  margin: 0;
  text-align: center;
}
.skor h4,
.skor span {
  margin: 0;
  grid-column: 2;
  text-align: right;
  /* height: fit-content; */
}
.skor span {
  color: green;
  margin-bottom: 14px;
}
.skor button {
  margin-top: 14px;
  grid-column: span 2;
  /* margin: 0px 10px; */
  border: none;
  border-radius: 4px;
  color: rgba(210, 208, 225, 0.877);
  font-weight: bold;
  background-color: rgb(83, 83, 225);
  padding: 15px 0px;
  cursor: pointer;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}
.skor button:hover {
  background-color: rgb(68, 200, 51);
  color: rgba(0, 0, 0, 0.816);
}
.pertanyaan {
  /* background-color: red; */
  padding: 10px;
  /* font-size: 80%; */
  /* width: 100%; */
}
.inner {
  background-color: #fefefe;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  /* height: 100vh; */
}
#jawab {
  /* display: none; */
}
#next {
  display: none;
}
.inner {
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgba(49, 49, 49, 0.786); */
  height: 70%;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  padding: 5px;
  border-radius: 12px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.649);
}
.inner h4 {
  width: 90%;
  white-space: initial;
  text-align: center;
  font-size: 110%;
}
.inner span {
  font-size: 150%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  margin: 5px;
  flex: 1;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.313);
  border: 1px solid rgba(0, 0, 0, 0.313);
  background-color: rgb(255, 255, 255);
  font-size: 80%;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.75s;
}
.row:nth-child(1) .box:not(:nth-child(1)),
.row:not(:nth-child(1)) .box:nth-child(1) {
  background-color: transparent;
  font-weight: bold;
  color: rgb(59, 7, 7);
  border: none;
}
.box img {
  width: 100%;
  max-width: 70px;
}
.row:nth-child(1) .box:nth-child(1) {
  /* clip-path: polygon(100% 0, 0 100%, 100% 100%); */
  border: 0;
  background-color: transparent;
  opacity: 0.6;
}
.row:not(:nth-child(1)) .box:not(:nth-child(1)) {
  cursor: pointer;
}
.red {
  background-color: #f50c0c;
  border-radius: 25%;
  box-shadow: none;
  opacity: 0.8;
  font-weight: bold;
  color: rgb(79, 8, 8);
}
.green {
  background-color: #46de1c;

  border-radius: 25%;
  box-shadow: none;
  opacity: 0.9;
  font-weight: bold;
  color: green;
}
.yellow {
  background-color: #f5f50c;
  border-radius: 20%;
}
.flag {
  background: rgba(69, 211, 69, 0.482);
  color: rgb(11, 84, 10);
  font-weight: bold;
  /* background-color: #f54e0c; */
  border: 1px solid rgba(8, 85, 4, 0.999);
  border-radius: 25%;
  /* box-shadow: none; */
  opacity: 0.47;
}
.null {
  border: 1px solid rgba(196, 22, 6, 0.999);
  color: rgb(18, 8, 1);
  border-radius: 25%;
  box-shadow: none;
  opacity: 0.7;
  background-color: rgb(239, 114, 114);
}
#rate {
  /* transform: scale(150%) !important; */
  color: rgb(255, 162, 0);
}

.reset {
  padding: 8px 12px;
  /* margin: 8px; */
  cursor: pointer;
  background-color: #b8d611;
  border: 2px solid rgba(27, 56, 30, 0.511);
  font-weight: bold;
  border-radius: 7px;
  position: absolute;
  color: #103f03;
  width: 98%;
  left: 1%;
  bottom: 1%;
  height: 20%;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s;
}
.reset:hover {
  /* font-weight: 100; */
  background-color: #6ad611;
  /* transform: scale(120%); */
}
.habis {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%) translateY(50%);
  white-space: nowrap;
  opacity: 0.8;
}
@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 1.5fr;
  }

  .control {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    /* gap: 0; */
  }
  .banner {
    grid-column: span 2;
    margin: 5px 5px;
  }
  .banner img {
    width: 30%;
  }
  .quit {
    grid-column: span 2;
    grid-row: 5;
    margin: 0px 7px;
    padding: 10px;
  }
  .skor,
  .sts,
  .peluang,
  .quit {
    margin: 0px;
  }
  .peluang:nth-child(2) {
    grid-column: 1;
    margin-left: 7px;
  }

  .peluang:nth-child(3) {
    margin-right: 7px;
    grid-column: 2;
  }
  .sts {
    margin: 0px 7px;
    /* grid-column: 1; */
  }
  .skor {
    margin: 0px 7px;
    /* grid-column: 2; */
  }
  .inner {
    height: auto;
    width: 85%;
  }
  .board {
    gap: 10px;
  }
  .box {
    font-size: 60%;
    white-space: nowrap;
  }
  .peluang {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .control {
    grid-row: 2;
  }
  .board {
    grid-row: 1;
  }
  .banner {
    font-size: 65%;
    flex-direction: row-reverse;
    gap: 10px;
    /* padding-top: 0px; */
    padding: 10px 0px;
  }
  .banner img {
    width: 15%;
  }
  .sts {
    grid-column: 1;
    margin: 0px;
    margin-left: 7px;
  }
  .skor {
    margin: 0px;
    margin-right: 7px;
    grid-column: 2;
  }
  .quit {
    grid-row: 4;
  }
  .pertanyaan {
    font-size: 80%;
  }
  .inner {
    width: 85%;
  }
}

@media (max-width: 900px) and (orientation: landscape) and (max-height: 500px) {
  .control {
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 4px;
  }
  .peluang {
    grid-column: 1;
    grid-column: span 2;
    /* margin: 0; */
    /* margin-left: 20px; */
    /* font-size: 70%; */
  }
  .peluang:nth-child(2) {
    margin-top: 5px;
    /* margin: 0; */
    /* margin-right: 20px; */
    /* grid-column: 2; */
  }
  .sts {
    grid-column: 1;
    margin: 0;
    margin-left: 20px;
    font-size: 70%;
  }
  .skor {
    grid-column: 2;
    margin: 0;
    margin-right: 20px;
  }
  .banner {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    /* gap: 3px; */
    font-size: 70%;
    justify-content: space-around;
    /* display: none; */
    /* height: 4px; */
  }
  .banner img {
    width: 20%;
    /* padding: 10px 0; */
  }
  .inner {
    width: 50%;
  }
  .board {
    gap: 0px;
  }
  .pertanyaan {
    font-size: 80%;
  }
  .box {
    font-size: 40%;
  }
  .inner .habis {
    font-size: 70%;
  }
  .skor {
    font-size: 70%;
  }
  .wrapper {
    grid-template-columns: 1fr 1.5fr;
  }
}
